.container-filtro ul li {
    color: var(--cinza-escuro);
    background-color: var(--cinza-claro);
    border: 4px;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    display: flex;
    margin-right: 10px;

}

.container-filtro {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;

}

.container-filtro ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.container-filtro button {
    border: none;
    background-color: transparent;  
    color: var(--cinza-medio);
    font-size: 18px;
    cursor: pointer;
} 

.container-buttom {
    justify-content: flex-end;
    display: flex;
}