.container {            /*css relacionado a main page*/
    width: 62vw;        /*container contendo sidebar; barra de pesquisa e filtros*/
    margin: 3.5em auto;
    display: flex;
    gap: 16px;
}

.container div {
    flex-grow: 2;
}

.lista-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*quantidade de colunas*/
    grid-auto-rows: 1fr;
    gap: 24px;
    
}